* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-lg-4 {
    width: calc(100%/12*3);
}

.card {
    margin: 25px 15px 25px 0;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 10px 10px 10px grey;
    width: 300px;
    /* height: 700px; */
    padding-bottom: 25px;
    transition: all 0.5s;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

h5 {
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    color: blue;
}

.card-genres {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0 15px;
    font-weight: 550;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin: 0 15px;
    font-weight: 550;
}

.change {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#edit {
    border: none;
    width: 40%;
    margin: auto;
    color: white;
    outline: none;
    padding: 10px;
    font: bold 15px Arial;
    background: blue;
}

#exampleModal img {
    width: 100%;
    height: auto;
}

.open_modal {
    height: 350px;
}

.modal-body {
    margin-bottom: 45px;
}

.modal_text {
    height: 350px;
    overflow: auto;
}
#nav_genres{
    width: 70%; 
    margin-left: 45px;
    font-weight: 600;
}
.col-sm-6{
    width: calc(100%/12*6);
}
/* #nav_genres li a{
    transition: 0.4s;
}
#nav_genres li a:hover{
    color: blue;
    transform: scale(1.1);
} */